#map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

html, body, #map { height: 100%; margin: 0; padding: 0; overflow: hidden; }
            .nicebox {
          position: absolute;
          text-align: center;
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 13px;
          z-index: 5;
          /*box-shadow: 0 4px 6px -4px #333;*/
          /*padding: 5px 10px;*/
          /*background: rgb(255,255,255);*/
          /*background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);*/
          /*border: rgb(229, 229, 229) 1px solid;*/
        }

        #controls {
          top: 50px;
          left: 10px;
          width: 120px;
          height: 40px;
        }
        /*#data-box {*/
          /*top: 10px;*/
          /*left: 500px;*/
          /*height: 45px;*/
          /*line-height: 45px;*/
          /*display: none;*/
        /*}*/
        #courses-variable {
          width: 120px;
          height: 20px;
        }
        #time-variable {
          width: 120px;
          height: 20px;
        }