#map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding:0;
      }

html, body, #map { height: 100%; margin: 0; padding: 0; overflow: hidden; }
        .box {
             margin-top:-5em;
            position: absolute;
            text-align: center;
            font-family: "Roboto", "Arial", sans-serif;
            font-size: 1.4em;
            z-index: 5;
            width: 17em;
            height: 4em;
        }
        .page-header{
           text-align:center;
        }

        #controls {
          top: 9.6em;
          left: 0.3em;
          width: 8em;
          height: 8em;
        }

        .select {
          position: absolute;
          margin-top:-5.5em;
          margin-left:0;
          top: 9.6em;
          left: 0.3em;
          width: 8em;
          height: 8em;
        }
        #courses-variable {
          margin-top:0.1em;
          width: 7.5em;
          height: 2em;
        }
        #start-time{
          margin-top:0.1em;
          width: 7.5em;
          height: 2em;
          font-size:1em;
        }
        #end-time{
           margin-top:0.1em;
          width: 7.5em;
          height: 2em;
        }
        #legend {
          position: absolute;
          margin-top:0.9em;
          display: flex;
          display: -webkit-box;
          background-color: transparent;
          width: 12em;
          height: 4em;
        }
        .color-key {
          background: linear-gradient(to right,
            hsl(0, 100%, 40%) 0%,
            hsl(10, 100%, 40%) 10%,
            hsl(15, 100%, 45%) 20%,
            hsl(25, 100%, 45%) 30%,
            hsl(30, 100%, 55%) 40%,
            hsl(45, 100%, 65%) 50%,
            hsl(50, 100%, 75%) 60%,
            hsl(65, 100%, 80%) 70%,
            hsl(85, 100%, 75%) 80%,
            hsl(113, 100%, 75%) 90%,
            hsl(113, 100%, 55%) 100%);
           position: absolute;
          flex: 1;
          -webkit-box-flex: 1;
          text-align: left;
          line-height: 1.0em;
          height: 1.5em;
          width: 11em;
          margin-left:0;
          font-size: 1em;
         }

      #data-caret
      { margin-left: 0.2em;
        width: 0.7em;
     font-size: 0.5em;
     text-indent:0.2em
      }
      #data-caret1
      { margin-left: 0;
        width: 0.7em;
     font-size: 0.5em;
       text-indent:0em;
      }
      #data-caret2
      { margin-left: 0;
        width: 0.7em;
     font-size: 0.5em;
      }
      #data-caret3
      { margin-left: 0;
        width: 0.7em;
     font-size: 0.5em;
      }
      #data-caret4
      { margin-left: 0;
        width: 0.7em;
     font-size: 0.5em;
      }
      #data-caret5
      { margin-: 0;
        width: 0.7em;
     font-size: 0.5em;
      }
      #data-caret6
      {
        width: 0.7em;
     font-size: 0.5em;
      }

        .page-header h1{
          font-size: 3em;
          padding-left: 3em;
        }
        #map{
          width:100%;
          height: 60%;
          margin-left:0;
        }
        .footer{
          font-size:1.5em;
          padding-left:2em;
           margin-top:1.3em;
          font-family: "Roboto", "Arial", sans-serif;
          color: black
        }

        #slide-out{
          height: 32em;
          margin-top:10.3em;
          border-radius: 3%;
        }

        #classes{
           font-size: 1.2em;
           line-height: 1
        }

        #show-events{
          width: 7.5em;
          height: 2em;
            margin-top:0.9em;
            margin-left:-0.3em;

            font-size: 1em;
            line-height: 1
        }

         #show-classes{
          width: 7.5em;
          height: 2em;
            margin-top:0.2em;
            margin-left:-0.3em;

            font-size: 1em;
            line-height: 1
        }

        #slide-out{
            background-color:#e6ffcc;
        }
        #events-title{
          display: none;
        }
        .select p{
          margin-bottom: -7px;
        }
        #credit-text{
          margin-top: -2em;
        }
