/*#map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }*/

html, body, #map { height: 100%; margin: 0; padding: 0; overflow: hidden; }

.nicebox_map {
          position: absolute;
          text-align: center;
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 13px;
          z-index: 5px;
          padding-top: 20px;
        }

        /*#controls {
          top: 50px;
          left: 10px;
          width: 120px;
          height: 40px;
        }*/
        /*#data-box {*/
          /*top: 10px;*/
          /*left: 500px;*/
          /*height: 45px;*/
          /*line-height: 45px;*/
          /*display: none;*/
        /*}*/
        /*#courses-variable {
          width: 120px;
          height: 20px;
        }
        #time-variable {
          width: 120px;
          height: 20px;
        }*/
